<section>
  <div class="page-error text-center">
    <div class="container">
      <h1>500 - SERVER ERROR</h1>
      <p>The server encountered an error or a misconfiguration and was unable to complete your request. Please contact the server administrator, admin@wolverine.com and inform them of the time the error occured, and anything that you might have done that may have caused the error. <br/> More information about this error may be available in the server error log. Thanks for your understanding!</p>
      <div class="back-to-home"><a href="/">BACK TO HOME</a></div>
    </div>
  </div>
</section>
