<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Aroma Vanilias</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}fonts/fonts.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fullwidth.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}js/rs-plugin/css/settings.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style7.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/common-hover.css" />     
        <link rel="stylesheet" href="{{ STATIC_URL }}css/demo.css" />   
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.custom.79639.js"></script> 

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>




    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="spinner" class="transparentPRLD"></div>

<div id="outer-wrap">
    <div id="inner-wrap">

        <header id="top" role="banner">
            <div class="block">
                <a class="nav-btn" id="nav-open-btn" href="#nav"></a>
            </div>
        </header>


        <nav id="nav" role="navigation">
            <div class="menu" id="menu">

                <div class="row">
                    <div class="large-2 medium-2 columns">
                        <a href="index.html">
                            <img src="img/logo.png" height="46" width="46" alt="">
                        </a>
                    </div>

                    <div class="large-10 medium-10 columns">
                        <ul>
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index-02.html">Home 02</a></li>
                                    <li><a href="index-03.html">Home 03</a></li>
                                    <li><a href="index-04.html">Home 04</a></li>
                                    <li><a href="index-05.html">Home 05</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a>
                                <ul>
                                    <li><a href="about-02.html">About 02</a></li>
                                </ul>
                            </li>
                            <li><a href="portfolio.html">Portfolio</a>
                                <ul>
                                    <li><a href="portfolio-2Col.html">Portfolio 2Col</a></li>
                                    <li><a href="portfolio-3Col.html">Portfolio 3Col</a></li>
                                    <li><a href="portfolio-4Col.html">Portfolio 4Col</a></li>
                                    <li><a href="portfolio-masonry-full-width.html">Portfolio Full</a></li>
                                    <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                </ul>
                            </li>
                            <li><a href="info.html">Pages</a>
                                <ul>
                                    <li><a href="full-screen-gallery.html">Gallery</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="services-02.html">Services 02</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-02.html">Team 02</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                </ul>
                            </li>
                            <li><a href="blog-timeline.html">Blog</a>
                                <ul>
                                    <li><a href="blog-2Col.html">Blog 2Col</a></li>
                                    <li><a href="blog-4Col.html">Blog 4Col</a></li>
                                    <li><a href="blog.html">Blog Classic</a></li>
                                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                    <li><a href="blog-masonry-full-width.html">Blog Full</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a>
                                <ul>
                                    <li><a href="contact-02.html">Contact 02</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
            </div>
        </nav>

        <div id="mains" role="main">

            <div class="revolutionSubstitute_about">
              <div class="row">
                <img src="img/white_logo.png" height="46" width="46">
              
                  <div class="title">about us</div>
                  <div class="fancyGoldenSeperator"></div>
                  <div class="text">Science cuts two ways, of course; its products can be used for both good and evil. <br/> But there's no turning back from science.</div>

              </div>
            </div>




            <div class="aboutTxt pattern_2">
                <div class="row">
                    <div class="scrolly">
                        <a href="#news">
                            <img src="img/scrolly-bottom.png" alt="">
                        </a>
                    </div>

                    <div id="news" class="title">brander awesome</div>
                    <div class="large-10 large-centered medium-12 columns subtitle">
                        <p>Science cuts two ways, of course; its products can be used for both good and evil.  But there's no turning back from science.</p>
                    </div>

                    <div class="large-6 medium-12 columns sideText">
                        <h4>To be the first to enter the cosmos, to engage</h4>
                        <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>

                        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>

                        <p>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is. Mankind,</p>
                    </div>

                    <div class="large-6 medium-12 columns sideImage">
                        <ul class="ch-grid">
                            <li>
                                <div class="ch-item">               
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1 inner-border"></div>
                                        <div class="ch-info-back inner-border">
                                            <h3>The final frontier</h3>
                                            <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                                        </div>  
                                    </div>
                                </div>
                            </li>
                        </ul>   
                        <div class="twitterAbout">
                            <a href="#" target="_blank">
                                <img src="img/about_twitter.png" height="127" width="127" alt="">
                            </a>
                        </div>    
                        <div class="facebookAbout">
                            <a href="#" target="_blank">
                                <img src="img/about_facebook.png" height="83" width="83" alt="">
                            </a>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="newsfeed">
                <div class="large-6 columns medium-6 image_side">
                    <img src="http://placehold.it/843x437/8d6d2e/ffffff.jpg" alt="">
                    <div class="post_info">
                        <div class="date-n-category">12.07.2014   <span>/</span>   Fashion</div>
                        <div class="tags">Hot, Girl, Beautiful, Sexy, Long, Hair, Naked, Numbers</div>                   
                    </div>
                </div>
                <div class="large-6 columns medium-6 post_item">
                    <div class="title">
                        <div class="number">01</div>
                        <h1><a>To be the first to enter the cosmos, to <br/> engage</a></h1>
                    </div>
                    <div class="content">
                        <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>

                        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                        <a href="#" class="readMore">Read More</a>
                    </div>
                </div>
            </div>

            <div class="aboutRow themeFeatures">
                    <div class="row">
                        <div class="blockTitle">Theme features</div>
                        <div class="fancyGoldenSeperator"></div>
                        <div class="large-10 large-centered columns">
                            <p>Science cuts two ways, of course; its products can be used for both good and evil. 
                            But there's no turning back from science.</p>
                        </div>


                        <div class="large-12 columns svgRelative">

                            <div class="specs">
                                <div class="spec spec1">thumbnail</div>
                                <div class="liney line1">
                                    <img src="img/pointy-1.png" alt="">
                                </div>

                                <div class="spec spec2">High detail</div>
                                <div class="liney line2">
                                    <img src="img/pointy-2.png" alt="">
                                </div>   

                                <div class="spec spec3">HQ Pics</div>
                                <div class="liney line3">
                                    <img src="img/pointy-3.png" alt="">
                                </div>      

                                <div class="spec spec4">WOOD TEXTURES</div>
                                <div class="liney line4">
                                    <img src="img/pointy-4.png" alt="">
                                </div>

                                <div class="spec spec5">CUSTOM BG</div>
                                <div class="liney line5">
                                    <img src="img/pointy-5.png" alt="">
                                </div>   

                                <div class="spec spec6">COOL HOVER EFF</div>
                                <div class="liney line6">
                                    <img src="img/pointy-6.png" alt="">
                                </div>                                                                     
                            </div>

                            <div class="svgHolder">
                                
                                <div id="main" class="main">
                                    <figure>
                                        <div class="drawings mac">
                                            <img class="illustration" src="img/svg-overlay.png" alt="" />
                                            <svg version="1.1" class="line-drawing" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="558px" height="330px"  xml:space="preserve">

                                            <path fill="none" stroke="#ED1C24" stroke-miterlimit="10" d="M0.02,329.406V19.167C0.02,19.167-1.314,1,18.186,1H279.02"/>
                                            <path d="M27.019,329.406L27.019 24.667 278.964 24.667 "/>
                                            <path fill="none" stroke="#ED1C24" stroke-miterlimit="10" d="M557.984,329.406V19.167c0,0,1.334-18.167-18.166-18.167H278.984"/>
                                            <path d="M530.984,329.406L530.984 24.667 279.04 24.667 "/>
                                            <path d="M197.519,24.667L197.519 121.167 360.52 121.167 360.52 24.667 "/>
                                            <path d="M197.519,329.406L197.519 127.167 360.52 127.167 360.52 329.406 "/>
                                            <path d="M366.52,329.406L366.52 248.667 530.984 248.667 "/>
                                            <path d="M530.984,242.667L366.52 242.667 366.52 24.667 "/>
                                            <path d="M191.484,329.406L191.484 248.667 27.019 248.667 "/>
                                            <path d="M27.019,242.667L191.484 242.667 191.484 24.667 "/>
                                            </svg> 
                                        </div>
                                    </figure>
                                </div>


                            </div>
                        </div>
                    </div>
            </div>


            <div class="contactRow">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="blockTitle">Contact Me</div>
                        <div class="fancySeperator"></div>
                        <div class="blockText">
                            <p>To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?</p>
                            <p><span><a href="mailto:someone@example.com">info@avathemes.com</a></span><span>+1 235 456 6548</span></p>
                        </div>
                    </div>  

                    <div class="large-4 medium-4 small-6 columns contactIcons">
                        <div class="iconHold">
                            <img src="img/icon-1.png" height="63" width="62" alt="" >
                            <img src="img/icon-1-hover.png" height="63" width="62" alt="" class="hoverEffect">
                        </div>
                        <div class="titleHold">
                            Visit us
                        </div>
                        <div class="textHold">
                            When I orbited the Earth in a spaceship, I saw for the first time 
                        </div>
                    </div>   

                    <div class="large-4 medium-4 small-6 columns contactIcons">
                        <div class="iconHold">
                            <img src="img/icon-2.png" height="63" width="62" alt="" >
                            <img src="img/icon-2-hover.png" height="63" width="62" alt="" class="hoverEffect">
                        </div>
                        <div class="titleHold">
                            Send us a mail
                        </div>
                        <div class="textHold">
                            When I orbited the Earth in a spaceship, I saw for the first time 
                        </div>
                    </div>   


                    <div class="large-4 medium-4 small-6 columns contactIcons">
                        <div class="iconHold">
                            <img src="img/icon-3.png" height="63" width="62" alt="" >
                            <img src="img/icon-3-hover.png" height="63" width="62" alt="" class="hoverEffect">
                        </div>
                        <div class="titleHold">
                            Send us a mail
                        </div>
                        <div class="textHold">
                            When I orbited the Earth in a spaceship, I saw for the first time 
                        </div>
                    </div>                                                              
                </div>
            </div>

            <div class="footer">
                <div class="scrolly">
                    <a href="#top"><img src="img/scrolly.png" height="51" width="51" alt=""></a>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="created"><a href="www.themeforest.net/user/AVAThemes/portfolio" target="_blank">Webiste created by AvaThemes</a></div>
                        <div class="seperator"></div>
                        <div class="socials">
                            <a href="" class="facebook"></a>
                            <a href="" class="twitter"></a>
                            <a href="" class="dribbble"></a>
                            <a href="" class="vimeo"></a>
                            <a href="" class="linkedin"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--/#inner-wrap-->
</div>
<!--/#outer-wrap-->





        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src='js/jquery-migrate.min.js?ver=1.2.1'></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/jquery.easing.1.3.js" ></script>
        <script src="js/jquery.vgrid.0.1.4-mod.js" ></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.inview.js"></script>     
        <script src="js/modernizr.custom.04022.js"></script> 
        <script src="js/classie.js"></script>
        <script src="js/svganimations.js"></script>  


        <script>
            //Inview Portfolio Grid
                jQuery('div.portfolioRow').bind('inview', function (event, visible) {
                  if (visible == true) {
                        (function($){
                            $(function(){                   
                                $('#header').css("visibility", "hidden");
                                var setGrid = function () {
                                    return $("#grid-wrapper").vgrid({
                                        easeing: "easeOutQuint",
                                        time: 800,
                                        delay: 60,
                                        selRefGrid: "#grid-wrapper div.x1",
                                        selFitWidth: ["#container", "#footer"],
                                        gridDefWidth: 290 + 15 + 15 + 5,
                                        forceAnim: 1            });
                                };
                                
                                setTimeout(setGrid, 300);
                                setTimeout(function() {
                                    $('#header').hide().css("visibility", "visible").fadeIn(500);
                                }, 500);
                                
                                $(window).load(function(e){
                                    setTimeout(function(){ 
                                        // prevent flicker in grid area - see also style.css
                                        $("#grid-wrapper").css("paddingTop", "0px");
                                    }, 0);
                                });

                            }); // end of document ready
                        })(jQuery); // end of jQuery name space             
                  } else {
                    jQuery("#grid-wrapper").css("paddingTop", "1000px");
                  }
                });

        </script>

        <script>
            $(".image_side").css({'height':($(".post_item").height()+ 90 +'px')});
        </script>

    </body>
</html>
